<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-homework-for-student`
@demo demo/campus-homework-for-student.html 
-->
<dom-module id="campus-homework-for-student">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host paper-item {
        padding: 8px 16px;
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .037);
        cursor: pointer;
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .primary-color {
        color: var(--primary-color);
    }
    
    :host .primary-text-color {
        color: var(--primary-text-color);
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host .error-text-color {
        color: var(--error-color);
    }
    
    :host .tbar {
        padding: 4px 8px;
    }
    
    :host .mark {
        padding: 8px 12px;
        text-align: center;
        white-space: nowrap;
    }
    
    :host .event-item {
        margin: 16px auto;
        max-width: 1000px;
    }
    
    @media (min-width: 601px) {
        :host .event-card {
            color: #212121;
            background: #fff;
            flex: 1 1 252px;
            margin: 4px;
        }
        :host .space-card {
            flex: 1 1 260px;
            visibility: hidden;
        }
    }
    
    @media (max-width: 600px) {
        :host .event-item {
            margin-top: 16px;
        }
        :host .event-card {
            color: #212121;
            background: #fff;
            flex: 1 1 300px;
            box-shadow: none;
            border-bottom: 1px solid #eee;
        }
        :host .space-card {
            flex: 1 1 300px;
            visibility: hidden;
        }
    }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <div>
                <template is="dom-repeat" items="[[events]]" as="event">
                    <div class="event-item">
                        <div class="layout horizontal center secondary-text-color tbar">
                            <div class="layout horizontal center flex-auto">
                                <span>[[event.Date]] (預估所需時間：[[event.SpendTime]]分)</span>
                            </div>
                        </div>
                        <div class="layout horizontal start-justified wrap">
                            <template is="dom-repeat" items="[[event.Items]]">
                                <paper-material class="layout vertical event-card" elevation="1">
                                    <div style="padding:16px">
                                        <div style="font-size:24px">[[item.CourseName]]</div>
                                    </div>
                                    <div style="padding:16px" class="flex-auto">
                                        <div class="primary-color" style="font-size:18px">預估所需時間：[[item.SpendTime]]分</div>
                                        <div class="secondary-text-color" style="font-size:14px;margin-top:8px">[[item.Memo]]</div>
                                    </div>
                                    <div class="layout horizontal center" style="padding:16px">
                                        <div class="mark" style$="[[item.ObjStatus.Style]]">[[item.ObjStatus.Title]]</div>
                                        <div class="flex-auto"></div>
                                        <paper-icon-button class="secondary-text-color" icon="icons:assignment" hidden$="[[!item.Result.Memo]]" on-tap="_showMemoDialog"></paper-icon-button>
                                    </div>
                                </paper-material>
                            </template>
                            <div class="space-card"></div>
                            <div class="space-card"></div>
                        </div>
                    </div>
                </template>
            </div>
        </paper-header-panel>
        <paper-dialog modal id="memoDialog">
            <paper-dialog-scrollable>
                <div class="secondary-text-color" style="min-width:200px;max-width:480px">[[targetEvent.Result.Memo]]</div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-icon-button icon="icons:clear" dialog-dismiss></paper-icon-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    Polymer({

        is: 'campus-homework-for-student',

        properties: {
            /*
             * 作業追縱 (zh-tw), 作业追踪 (zh-cn), Homework (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            },
            events: Array,
            targetEvent: Object
        },

        behaviors: [Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '作業追縱',
                'zh-cn': '作业追踪',
                'en-us': 'Homework'
            });

            this.set('statusTypes', [{
                Title: '準時',
                ShortTitle: '準',
                Style: 'color:#FFF;background-color:#4CAF50',
                Idx: 0
            }, {
                Title: '遲交',
                ShortTitle: '遲',
                Style: 'color:#FFF;background-color:#FF9800',
                Idx: 1
            }, {
                Title: '未交',
                ShortTitle: '未',
                Style: 'color:#FFF;background-color:#F44336',
                Idx: 2
            }, {
                Title: '免交',
                ShortTitle: '免',
                Style: 'color:#FFF;background-color:#2196F3',
                Idx: 3
            }, {
                Title: '',
                ShortTitle: '',
                Style: 'color:#9E9E9E;background-color:#FFF',
                Idx: 4
            }]);

            this._getEvents();
        },

        _getEvents: function() {
            var request = {
                contract: 'campus.homework.student',
                service: '_.GetEvents',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.Events) {
                    var events = [].concat(response.Events.Event || []);
                    events.forEach(function(event) {
                        event.Items = [].concat(event.Item || []);
                        event.Items.forEach(function(item) {
                            item.Memo = item.Memo ? item.Memo.replace(/&#39;/ig, "'") : '';
                            item.ObjStatus = this.statusTypes[this.statusTypes.length - 1];
                            this.statusTypes.forEach(function(s) {
                                if (item.Result.Status === s.Title)
                                    item.ObjStatus = s;
                            });
                        }.bind(this));
                    }.bind(this));
                    this.set('events', events);
                }
            }.bind(this));
        },

        _showMemoDialog: function(e) {
            this.set('targetEvent', e.model.item);
            this.$.memoDialog.open();
        }
    });
    </script>
</dom-module>
