<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/av-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../moment-element/moment-with-locales-import.html">
<!--
`campus-homework-for-teacher`
@demo demo/campus-homework-for-teacher.html 
-->
<dom-module id="campus-homework-for-teacher">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .037);
        cursor: pointer;
    }
    
    :host paper-fab {
        position: fixed;
        right: 16px;
        bottom: 16px;
        z-index: 1;
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .primary-color {
        color: var(--primary-color);
    }
    
    :host .primary-text-color {
        color: var(--primary-text-color);
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host .tbar {
        padding: 4px 16px;
        line-height: 24px;
    }
    
    :host .cell-item {
        margin: 0 4px;
        flex: 1 1 140px;
    }
    
    :host .mark1 {
        font-size: 19px;
        border-radius: 19px;
        margin: 0;
        padding: 0;
        min-width: 38px;
        min-height: 38px;
        border: 1px solid #fff;
    }
    
    :host .mark2 {
        font-size: 19px;
        border-radius: 19px;
        margin: 0;
        padding: 0;
        min-width: 38px;
        min-height: 38px;
        border: 1px solid #ccc;
    }
    
    :host .mark3 {
        font-size: 19px;
        border-radius: 19px;
        padding: 6px;
        min-width: 24px;
        min-height: 24px;
        text-align: center;
        border: 1px solid #ccc;
    }
    
    :host .pitem {
        padding: 0 16px;
        min-height: 64px;
        background: #fff;
    }
    
    @media (min-width: 601px) {
        :host .pitem {
            margin: 4px;
            flex: 1 1 240px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
    }
    
    @media (max-width: 600px) {
        :host .pitem {
            flex: 1 1 280px;
            border-bottom: 1px solid #eee;
        }
    }
    
    :host .event-card {
        color: #212121;
        background: #fff;
    }
    
    :host .event-item {
        margin: 16px auto;
        max-width: 1000px;
    }
    
    @media (min-width: 601px) {
        :host .event-card {
            flex: 1 1 252px;
            margin: 4px;
        }
        :host .space-card {
            flex: 1 1 260px;
            visibility: hidden;
        }
    }
    
    @media (max-width: 600px) {
        :host .event-item {
            margin-top: 16px;
        }
        :host .event-card {
            flex: 1 1 300px;
            border-bottom: 1px solid #eee;
        }
        :host .space-card {
            flex: 1 1 300px;
            visibility: hidden;
        }
    }
    </style>
    <template>
        <paper-header-panel mode="waterfall" hidden$="[[onEditStatus]]">
            <paper-toolbar>
                <paper-tabs selected="0" no-bar>
                    <paper-tab on-tap="_toggleCourse">我的課程</paper-tab>
                    <paper-tab on-tap="_toggleClass">我的班級</paper-tab>
                </paper-tabs>
                <div class="flex-auto"></div>
                <paper-icon-button icon="icons:add" on-tap="_showAddEventDialog" hidden$="[[tutor]]"></paper-icon-button>
            </paper-toolbar>
            <div>
                <template is="dom-repeat" items="[[events]]" as="event">
                    <div class="event-item">
                        <div class="layout horizontal center secondary-text-color tbar">
                            <div class="layout horizontal center flex-auto">
                                <span>[[event.Date]]</span>
                            </div>
                        </div>
                        <div class="layout horizontal start-justified wrap">
                            <template is="dom-repeat" items="[[event.Items]]">
                                <paper-material class="layout vertical event-card" elevation="1">
                                    <div style="padding:16px">
                                        <div style="font-size:24px">[[item.CourseName]]</div>
                                    </div>
                                    <div style="padding:16px" class="flex-auto">
                                        <div class="primary-color" style="font-size:18px">預估所需時間：[[item.SpendTime]]分</div>
                                        <div class="secondary-text-color" style="font-size:14px;margin-top:8px">[[item.Memo]]</div>
                                    </div>
                                    <div class="layout horizontal center" style="padding:16px">
                                        <div class="primary-color" style="font-size:18px">[[item.ResultCount]] / [[item.StudentCount]]</div>
                                        <div class="flex-auto"></div>
                                        <paper-icon-button class="secondary-text-color" icon="av:playlist-add-check" on-tap="_showEditStatus" alt="繳交狀態"></paper-icon-button>
                                        <paper-icon-button class="secondary-text-color" icon="icons:create" on-tap="_showEditEventDialog" alt="編輯作業" hidden$="[[tutor]]"></paper-icon-button>
                                        <paper-icon-button class="secondary-text-color" icon="icons:delete" on-tap="_showRemoveEventDialog" alt="刪除作業" hidden$="[[tutor]]"></paper-icon-button>
                                    </div>
                                </paper-material>
                            </template>
                            <div class="space-card"></div>
                            <div class="space-card"></div>
                        </div>
                    </div>
                </template>
            </div>
        </paper-header-panel>
        <paper-header-panel mode="waterfall" hidden$="[[onEventList]]">
            <paper-toolbar hidden$="[[tutor]]">
                <div class="layout horizontal center flex ptbar">
                    <paper-icon-button icon="icons:arrow-back" on-tap="_showEventList"></paper-icon-button>
                    <div class="title">[[targetEvent.CourseName]]</div>
                    <paper-icon-button icon="icons:refresh" on-tap="_getStudents"></paper-icon-button>
                    <paper-icon-button icon="icons:save" on-tap="_save"></paper-icon-button>
                </div>
            </paper-toolbar>
            <paper-toolbar hidden$="[[tutor]]">
                <div class="layout horizontal center flex ptbar">
                    <paper-button class="mark1" on-tap="_toggleStatus" style$="[[currentStatus.Style]]">[[currentStatus.ShortTitle]]</paper-button>
                    <div class="title" style="margin-left:16px">[[currentStatus.Title]]</div>
                    <div style="font-size:16px;color:#fff;margin-left:8px">[[statusSummaryTitle]]</div>
                </div>
            </paper-toolbar>
            <paper-toolbar hidden$="[[!tutor]]">
                <div class="layout horizontal center flex ptbar">
                    <paper-icon-button icon="icons:arrow-back" on-tap="_showEventList"></paper-icon-button>
                    <div class="title">[[targetEvent.CourseName]]</div>
                    <div style="font-size:16px;color:#fff;margin-left:8px">[[statusSummaryTitle]]</div>
                </div>
            </paper-toolbar>
            <div>
                <div class="layout horizontal center wrap" style="max-width:768px;margin:0 auto">
                    <template is="dom-repeat" items="[[students]]">
                        <div class="layout horizontal center pitem secondary-text-color">
                            <paper-button class="mark2" style$="[[item.ObjStatus.Style]]" on-tap="_eventStatus" hidden$="[[tutor]]">[[item.ObjStatus.ShortTitle]]</paper-button>
                            <div class="mark3" style$="[[item.ObjStatus.Style]]" hidden$="[[!tutor]]">[[item.ObjStatus.ShortTitle]]</div>
                            <div class="layout horizontal center wrap flex-auto" style="margin:0 8px 0 16px">
                                <div class="flex-auto" style="font-size:18px;line-height:24px">[[item.SeatNo]] [[item.Name]]</div>
                                <div>
                                    <div>班級：[[item.Class]]</div>
                                    <div>學號：[[item.StudentNo]]</div>
                                </div>
                            </div>
                            <paper-icon-button icon="icons:assignment" on-tap="_showMemoDialog" hidden$="[[tutor]]"></paper-icon-button>
                            <paper-icon-button icon="icons:assignment" on-tap="_showMemoDialog" hidden$="[[!tutor]]" disabled$="[[!item.Memo]]"></paper-icon-button>
                        </div>
                    </template>
                    <paper-item class="pitem" style="visibility:hidden"></paper-item>
                </div>
            </div>
        </paper-header-panel>
        <paper-dialog modal id="eventDialog" on-iron-overlay-closed="_dismissEventDialog">
            <paper-dialog-scrollable>
                <div style="max-width:480px">
                    <div class="layout horizontal center flex-auto" hidden$="[[targetEvent.UID]]">
                        <paper-dropdown-menu class="cell-item" label="課程">
                            <paper-menu class="dropdown-content" selected="{{targetEvent.course}}" attr-for-selected="value">
                                <template is="dom-repeat" items="[[courses]]">
                                    <paper-item value="[[item]]">[[item.Name]]</paper-item>
                                </template>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal center flex-auto wrap">
                        <paper-input class="cell-item" label="繳交日期" value="{{targetEvent.EventDate}}" type="date"></paper-input>
                        <paper-input class="cell-item" label="預計所需時間(分)" value="{{targetEvent.SpendTime}}"></paper-input>
                    </div>
                    <div class="layout horizontal center flex-auto">
                        <paper-textarea class="cell-item" label="作業內容" value="{{targetEvent.Memo}}"></paper-textarea>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Submit</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="removeEventDialog" on-iron-overlay-closed="_dismissRemoveEventDialog">
            <paper-dialog-scrollable>
                <div style="max-width:480px">
                    <div style="font-size:18px;font-weight:700">確定刪除此筆作業？</div>
                    <div style="font-size:16px;margin-top:12px">[[targetEvent.courseName]]</div>
                    <div style="font-size:14px;margin-top:6px">[[targetEvent.EventDate]]</div>
                    <div style="font-size:14px;margin-top:6px" class="secondary-text-color">[[targetEvent.Memo]]</div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Submit</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="editMemoDialog" on-iron-overlay-closed="_dismissEditMemoDialog">
            <paper-dialog-scrollable>
                <paper-textarea label="評語" value="{{editMemo.Memo}}" style="min-width:200px"></paper-textarea>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Submit</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="memoDialog">
            <paper-dialog-scrollable>
                <div class="secondary-text-color" style="min-width:200px;max-width:480px">[[targetMemo]]</div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-icon-button class="secondary-text-color" icon="icons:clear" dialog-dismiss>Cancel</paper-icon-button>
            </div>
        </paper-dialog>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    Polymer({

        is: 'campus-homework-for-teacher',

        properties: {
            /*
             * 作業追縱 (zh-tw), 作业追踪 (zh-cn), Homework (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            },
            events: Array,
            students: Array,
            courses: Array,
            editMemo: Object,
            targetMemo: Object,
            statusSummaryTitle: String
        },

        behaviors: [Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '作業追縱',
                'zh-cn': '作业追踪',
                'en-us': 'Homework'
            });

            this.set('statusTypes', [{
                Title: '準時',
                ShortTitle: '準',
                Style: 'color:#FFF;background-color:#4CAF50',
                Idx: 0
            }, {
                Title: '遲交',
                ShortTitle: '遲',
                Style: 'color:#FFF;background-color:#FF9800',
                Idx: 1
            }, {
                Title: '未交',
                ShortTitle: '未',
                Style: 'color:#FFF;background-color:#F44336',
                Idx: 2
            }, {
                Title: '免交',
                ShortTitle: '免',
                Style: 'color:#FFF;background-color:#2196F3',
                Idx: 3
            }, {
                Title: '',
                ShortTitle: '',
                Style: 'color:#9E9E9E;background-color:#FFF',
                Idx: 4
            }]);

            this._getCCItems();
            this._toggleCourse();

            this.set('onEventList', true);
            this.set('onEditStatus', false);
        },

        _toggleCourse: function(e) {
            this._getEvents();
            this.set('tutor', false);
        },

        _toggleClass: function(e) {
            this._getEvents({
                Request: {
                    Tutor: true
                }
            });
            this.set('tutor', true);
        },

        _getCCItems: function() {
            var request = {
                contract: 'campus.homework.teacher',
                service: '_.GetCCItems',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.Items) {
                    var items = [].concat(response.Items.Item || []).filter(function(item) {
                        if (item.Type === 'Course') return item;
                        return null;
                    });

                    this.set('courses', items);
                }
            }.bind(this));
        },

        _getEvents: function(request) {
            var request = {
                contract: 'campus.homework.teacher',
                service: '_.GetEvents',
                body: request || ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.Events) {
                    if (request && request.EventID) {
                        var item = response.Events.Event.Item;
                        this.events.forEach(function(event, idx) {
                            if (event.UID === item.UID) {
                                this.set(['events.', idx].join(''), item);
                            }
                        }.bind(this));
                    } else {
                        var events = [].concat(response.Events.Event || []);
                        events.forEach(function(event) {
                            event.Items = [].concat(event.Item || []);
                            event.Items.forEach(function(item) {
                                item.Memo = item.Memo ? item.Memo.replace(/&#39;/ig, "'") : '';
                                item.EventDate = event.Date;
                            })
                        });
                        this.set('events', events);
                    }
                }
            }.bind(this));
        },

        _setEvent: function() {
            var body = {
                Request: {
                    Date: this.targetEvent.EventDate || moment().format('YYYY-MM-DD'),
                    SpendTime: Math.abs(this.targetEvent.SpendTime) || 0,
                    Memo: this.targetEvent.Memo || ''
                }
            };

            if (this.targetEvent.UID)
                body.Request.UID = this.targetEvent.UID;
            if (this.targetEvent.course)
                body.Request.CourseID = this.targetEvent.course.UID;

            var request = {
                contract: 'campus.homework.teacher',
                service: '_.SetEvent',
                body: body
            }

            this.generateRequest(request, function(response) {
                if (response)
                    this._getEvents();
            }.bind(this));
        },

        _removeEvent: function() {
            var request = {
                contract: 'campus.homework.teacher',
                service: '_.RemoveEvent',
                body: {
                    UID: this.targetEvent.UID
                }
            }

            this.generateRequest(request, function(response) {
                if (response)
                    this._getEvents();
            }.bind(this));
        },

        _showAddEventDialog: function() {
            this.set('targetEvent', {
                course: this.courses[0],
                EventDate: moment().format('YYYY-MM-DD'),
                SpendTime: '30',
                Memo: ''
            });
            this.$.eventDialog.toggle();
        },

        _showEditEventDialog: function(e) {
            this.set('targetEvent', {
                UID: e.model.item.UID,
                courseName: e.model.item.CourseName,
                EventDate: moment(e.model.item.EventDate).format('YYYY-MM-DD'),
                SpendTime: e.model.item.SpendTime,
                Memo: e.model.item.Memo
            });
            this.$.eventDialog.toggle();
        },

        _dismissEventDialog: function(e) {
            if (e.detail.confirmed)
                this._setEvent();
        },

        _showRemoveEventDialog: function(e) {
            this.set('targetEvent', {
                UID: e.model.item.UID,
                courseName: e.model.item.CourseName,
                EventDate: e.model.item.EventDate,
                SpendTime: e.model.item.SpendTime,
                Memo: e.model.item.Memo
            });
            this.$.removeEventDialog.toggle();
        },

        _dismissRemoveEventDialog: function(e) {
            if (e.detail.confirmed)
                this._removeEvent();
        },

        _showEditStatus: function(e) {
            this.set('targetEvent', e.model.item);
            this.set('currentStatus', this.statusTypes[0]);

            this._getStudents();

            this.set('onEventList', false);
            this.set('onEditStatus', true);
        },

        _showEventList: function(e) {
            this.set('onEventList', true);
            this.set('onEditStatus', false);
        },

        _getStudents: function() {
            var request = {
                contract: 'campus.homework.teacher',
                service: '_.GetStudents',
                body: {
                    Request: {
                        CourseID: this.targetEvent.CourseID,
                        EventID: this.targetEvent.UID
                    }
                }
            }

            this.generateRequest(request, function(response) {
                if (response && response.Students) {
                    var students = [].concat(response.Students.Student || []);
                    students.forEach(function(item) {
                        item.ObjStatus = this.statusTypes[this.statusTypes.length - 1];
                        this.statusTypes.forEach(function(s) {
                            if (item.Status === s.Title)
                                item.ObjStatus = s;
                        });
                    }.bind(this));

                    this.set('students', students);

                    this._summaryStatus();
                }
            }.bind(this));
        },

        _toggleStatus: function(e) {
            var idx = (this.currentStatus.Idx + 1) % (this.statusTypes.length - 1);
            this.set('currentStatus', this.statusTypes[idx]);
        },

        _eventStatus: function(e) {
            if (e.model.item.ObjStatus.Idx === this.statusTypes.length - 1 ||
                e.model.item.ObjStatus.Idx !== this.currentStatus.Idx)
                this.set(['students.', e.model.index, '.ObjStatus'].join(''), this.currentStatus);
            else
                this.set(['students.', e.model.index, '.ObjStatus'].join(''), this.statusTypes[this.statusTypes.length - 1]);

            this._summaryStatus();
        },

        _summaryStatus: function() {
            var types = [{
                title: '準',
                count: 0
            }, {
                title: '遲',
                count: 0
            }, {
                title: '未',
                count: 0
            }, {
                title: '免',
                count: 0
            }];
            this.students.forEach(function(s) {
                types.forEach(function(t) {
                    if (t.title === s.ObjStatus.ShortTitle)
                        t.count += 1;
                });
            });

            var title = [];
            types.forEach(function(t) {
                if (t.count > 0)
                    title.push([t.count, t.title].join(' '));
            });
            this.set('statusSummaryTitle', title.join('、'));
        },

        _showMemoDialog: function(e) {
            if (this.tutor) {
                if (!e.model.item.Memo) return;

                this.set('targetMemo', e.model.item.Memo);
                this.$.memoDialog.open();
            } else {
                this.set('editMemo', {
                    UID: e.model.item.UID,
                    Memo: e.model.item.Memo || ''
                });
                this.$.editMemoDialog.open();
            }
        },

        _dismissEditMemoDialog: function(e) {
            if (e.detail.confirmed) {
                this.students.forEach(function(s, idx) {
                    if (s.UID === this.editMemo.UID) {
                        this.set(['students.', idx, '.Memo'].join(''), this.editMemo.Memo);
                    }
                }.bind(this));
            }
        },

        _save: function() {
            var items = [];
            this.students.forEach(function(s) {
                items.push({
                    StudentID: s.UID,
                    Status: s.ObjStatus.Title,
                    Memo: s.Memo || ''
                });
            });

            var request = {
                contract: 'campus.homework.teacher',
                service: '_.SetEventStatus',
                body: {
                    Request: {
                        EventID: this.targetEvent.UID,
                        Student: items
                    }
                }
            }

            this.generateRequest(request, function(response) {
                if (response && response.Result) {
                    this._getStudents();
                    this._getEvents({
                        EventID: this.targetEvent.UID
                    });

                    this.$.toast.show({
                        text: '儲存完成!',
                        duration: 1000
                    });
                } else {
                    this.$.toast.show({
                        text: '儲存失敗，請稍候重試!',
                        duration: 1000
                    });
                }
            }.bind(this));
        }
    });
    </script>
</dom-module>
